*{ margin:0;padding:0;box-sizing:border-box; list-style:none;}
*::after, *::before{ margin:0;padding:0;box-sizing:border-box; }
h1,h2,h3{ font-weight:normal; }

.topbar { background:#D43C33; padding:4.5vw 0; display:flex; justify-content:space-between; align-items:center; }
.topbar > .topsvg{ width:37.9vw; margin:0 2.6vw;}
.topbar > .downloadApp{ margin:0 2.6vw; border:1px solid #EA9D99; border-radius:4vw; text-decoration: none; color:#fff; line-height:7.5vw; padding:0 2.6vw; font-size:4vw;}


section > h3:first-child{ font-size:4.5vw; font-weight:normal; line-height:1; border-left:2px solid #D33A31; padding-left:0.4em; margin:1.3em 0 0 0; }



.siteNav > ul{ display:flex; border-bottom:1px solid #E8E8E8; position:relative; }
.siteNav > ul >li{ flex:1; text-align:center; font-size:4vw; }
.siteNav > ul >li.active{ color:#D33A31; }
.siteNav > ul >li >span{ display:inline-block; position:relative; height:10.5vw; line-height:11vw; }
.siteNav > ul >li.active > span::after{ display:inline-block; content:''; position:absolute; left:-1.4vw; right:-1.4vw; bottom:-0.2vw; border-bottom:2px solid #D33A31; }


.tabContent > li{ display:none; }
.tabContent > li.active{ display:block; }
.playList > ul{ display:flex; flex-wrap: wrap; justify-content: space-between; margin-top:2vw; }
.playList > ul > li{ width:33vw; margin-top:3vw; padding-bottom:1.5vw; }
.playList > ul >li > img{ width:100%; }
.playList > ul > li > p{ padding:0 1.65vw; display:-webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; font-size:3.5vw; line-height:1.2; height:8vw; overflow:hidden; text-overflow:ellipsis; }


.latestMusic > .loading{ text-align:center; min-height:20vw; padding-top:5vw; }
.latestMusic > ul{ margin-top:3.6vw; padding-left:2.4vw; }
.latestMusic > ul >li{ border-bottom:1px solid #F1F1F2; padding:2.4vw 0; line-height:1; position:relative; }
.latestMusic > ul > li > .songName{ text-decoration: none; color:inherit; display:block; }
.latestMusic > ul > li >.songName > h3{ font-size:4.6vw; }
.latestMusic > ul > li > p{ padding-top:1.8vw; font-size:3.5vw; color:#888888; display:flex; align-items:center; }
.latestMusic > ul > li > .playIcon { width:6vw; height:6vw; position:absolute; right:2.6vw; bottom:4vw; }
.latestMusic > ul > li > a > .icon{ fill:#AAAAAA; width:100%; height:100%; }
.latestMusic > ul > li >p > .sq{ width:3.2vw; height:3.2vw; fill:#FE672E; margin-right:1.3vw; }


.art{ background: url('https://ooo.0o0.ooo/2017/06/26/595115e189a88.png') no-repeat center 15%; text-align:center; }
.art > .logosvg{ max-width:61.3vw; padding-top:18vw; display:block; margin:0 auto; }
.art > .openApp{ display:block; max-width:80.2vw; text-decoration: none; padding:2vw 0; margin:4.6vw auto 0; text-align:center; color:#D33A31; border:1px solid #D33A31; border-radius:5.3vw; }
.art > .copyRight{ font-size:3.2vw; /*padding-top:2.7vw;*/ padding-bottom:6.1vw;*/ padding:2vw 0 5vw; transform:scale(0.75); line-height:1; color:#B1AEAE; }



/*begin of 热歌榜*/


.banner > .poster{
    max-width:100vw;
    background:url('https://ooo.0o0.ooo/2017/06/29/5954a6629a501.jpg') no-repeat;
    background-size:cover;
    padding:1px;
    position:relative;
}
.banner > .poster::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:1;
    background-color:rgba(0,0,0,0.2);
}
.banner > .poster > .character{
    width:37.8vw;
    height:17.8vw;
    background: transparent url('https://ooo.0o0.ooo/2017/06/29/5954aba349b92.png') no-repeat;
    background-size:cover;
    margin:6.5vw 0 0 5vw;
    position:relative;
    z-index:2;
}
.banner > .poster > .update{
    padding-top:2.7vw;
    font-size:12px;
    transform:scale(0.9);
    color:hsla(0,0%,100%,0.8);
    padding-bottom:7vw;
    position:relative;
    z-index:2;
}

.hotSongs > .songList > li{
    display:flex;
    align-items:center;
    position:relative;
    padding-left:10.2vw;
}
.hotSongs > .songList > li > .rank{
    position:absolute;
    left:2.66vw;
    font-size:4.53vw;
}
.hotSongs > .songList > li > .active{
    color:#DF3436;
}
.hotSongs > .songList > li > .songInformation{
    width:100%;
    padding: 2.4vw 0;
    border-bottom:1px solid #F1F1F2;
}
.hotSongs > .songList > li > .songInformation .songName{
    font-size:4.53vw;
    text-decoration:none;
    color:inherit;
    display:block;
}
.hotSongs > .songList > li > .songInformation > p {
    font-size:3.2vw;
    color:#888888;
}
.hotSongs > .songList > li > .songInformation > a{
    min-width:5.9vw;
    min-height:5.9vw;
    border-radius:50%;
    background-image:url('https://ooo.0o0.ooo/2017/06/29/5954a7952612e.png');
    background-size:44.2vw 25.8vw;
    background-position:-6.5vw 0;
    position:absolute;
    top:50%;
    right:5vw;
    transform:translateY(-50%);
    cursor:pointer;
}



/*begin of 搜索*/


.search > form{
    border-bottom:1px solid #EBECEC;
    text-align:center;
}
.search > form > .inputWrap{
    padding:0 8vw;
    width:94.6vw;
    margin:4vw auto;
    border-radius:4vw;
    background:#EBECEC;
    position:relative;
}
.search > form .input{
    min-height:8vw;
    width:78.6vw;
    background:#EBECEC;
    border:none;
    /*border-radius:4vw 4vw 4vw 4vw;*/
    outline:none;
    position:relative;
    font-size:4vw;
    line-height:4.8vw;
}
.search > form .input::-webkit-input-placeholder{
    font-size:4vw;
    color:#C9C9C9;

}
.search > form .input::-moz-placeholder {
    font-size:15px;
    color:#C9C9C9;
}
.search > form .input::-ms-input-placeholder{
    font-size:15px;
    color:#C9C9C9;
}
.search > form .input{
    -webkit-appearance: none;
}
.search > form .input::-webkit-search-cancel-button{
    display:none;
}
.search > form .input::-webkit-search-decoration {
    /*display:none;*/
    color:white;
    border:1px solid red;
}
.search > form > .inputWrap > .iconSearch{
    width:18px;
    height:18px;
    position:absolute;
    top:6px;
    left:6px;
    fill:#C9C9CA;
}
.search > form > .inputWrap > .iconClose {
    width:8vw;
    height:8vw;
    position:absolute;
    right:0;
    top:0;
    display:none;
}
.search > form > div.inputChange > .iconClose{
    display: inline;
}

.searchLabels > .hotSearch{
    display:inline-block;
    font-size:12px;
    color:#666669;
    padding:15px 0 0 10px;
}
.searchLabels > .labels{
    padding:15px 10px 0;
}
.searchLabels > .labels > .songLabel{
    display:inline-block;
    text-decoration:none;
    font-size:14px;
    border:1px solid #EAEBEE;
    color:#333;
    padding:4px 14px;
    margin-bottom:10px;
    border-radius:16px;
}
















